:root {
  --input-line-color:#b3b3b3;
  /*--inout-bg-color:transparent;*/
  --inout-bg-color: rgb(255 255 255 / 40%);
  --input-font-size:16px;
  --input-title-color:#6a6a6a;

  --page-step-header-height:36px;
  --page-step-header-realheight:40px;

  --f7-grid-gap: 0px;
  --f7-grid-row-gap: 0px;
}

.overflowhidden{
      overflow: hidden;
}
.pop-page-step{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.pop-page-step:not(:first-child){
    box-shadow: 0px -7px 6px 2px rgb(50 50 93 / 25%), 0px -8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
}
.pop-page-step.step2{
  z-index: 2;
  top : calc( 100% - var(--page-step-header-height) - var(--page-step-header-height) * ( var(--pop-stepper-no) - 2 ) ) ;
  transition: all 500ms;
}
.pop-page-step.step3{
  z-index: 3;
  top : calc( 100% - var(--page-step-header-height) - var(--page-step-header-height) * ( var(--pop-stepper-no) - 3 ) );
  transition: all 500ms;
}
.pop-page-step.step4{
  z-index: 4;
  top : calc( 100% - var(--page-step-header-height) - var(--page-step-header-height) * ( var(--pop-stepper-no) - 4 ) );
  transition: all 500ms;
}
.pop-page-step.step5{
  z-index: 4;
  top : calc( 100% - var(--page-step-header-height) - var(--page-step-header-height) * ( var(--pop-stepper-no) - 5 ) );
  transition: all 500ms;
}
.pop-page-step.step6{
  z-index: 4;
  top : calc( 100% - var(--page-step-header-height) - var(--page-step-header-height) * ( var(--pop-stepper-no) - 6 ) );
  transition: all 500ms;
}
.pop-page-step.step7{
  z-index: 4;
  top : calc( 100% - var(--page-step-header-height) - var(--page-step-header-height) * ( var(--pop-stepper-no) - 7 ) );
  transition: all 500ms;
}
.pop-page-step.step2.step-avail-open.step-opened{
  top : calc( 44px + var(--navbar-stepper-height) + var(--page-step-header-height) );
  transition: all 500ms;
}
.pop-page-step.step3.step-avail-open.step-opened{
  top : calc( 44px + var(--navbar-stepper-height) + ( var(--page-step-header-height)*2 ) );
  transition: all 500ms;
}
.pop-page-step.step4.step-avail-open.step-opened{
  top : calc( 44px + var(--navbar-stepper-height) + ( var(--page-step-header-height)*3 ) );
  transition: all 500ms;
}
.pop-page-step.step5.step-avail-open.step-opened{
  top : calc( 44px + var(--navbar-stepper-height) + ( var(--page-step-header-height)*4 ) );
  transition: all 500ms;
}
.pop-page-step.step6.step-avail-open.step-opened{
  top : calc( 44px + var(--navbar-stepper-height) + ( var(--page-step-header-height)*5 ) );
  transition: all 500ms;
}
.pop-page-step.step7.step-avail-open.step-opened{
  top : calc( 44px + var(--navbar-stepper-height) + ( var(--page-step-header-height)*6 ) );
  transition: all 500ms;
}

.pop-page-step-header{
  background-color: #55acee;
  border-top: 1px solid #84b6db;
  border-bottom: 1px solid #eeeeee;
  height: var(--page-step-header-realheight);
  line-height: var(--page-step-header-realheight);
  padding-left: 32px;
}
.pop-page-step .pop-page-step-header:before{
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  width: 14px;
  height: 8px;
  margin-top: -2px;
  line-height: 8px;
  color: rgb(0 0 0 / 34%);
  position: absolute;
  top: 17px;
  left: 10px;
}
.pop-page-step-header-inner{
  display: flex;
  color: rgb(255 255 255 / 60%);
}
.step-opened .pop-page-step-header-inner, .prc-done .pop-page-step-header-inner{
  color: rgb(255 255 255 / 94%);
}
.pop-page-step:not(.step-opened):not(.prc-done) .pop-page-step-header:before{
  /*content: '\f078';*/
  content: '\f058';
  color:rgb( 0 0 0 / 15%);
}
.pop-page-step.step-opened:not(.prc-done) .pop-page-step-header:before{
  /*content: '\f077';*/
  content: '\f058';
  color: rgb(255 255 255 / 88%);
}
.pop-page-step.prc-done .pop-page-step-header:before{
  content: '\f058';
  color: rgb(255 255 255 / 88%);
}
.pop-page-step-body{
  height: calc( 100% - 44px - var(--navbar-stepper-height) - var(--page-step-header-realheight) - ( var( --page-step-header-height ) * ( var(--pop-stepper-no) - 1 ) ) );
  overflow-y: auto;
  overflow-x: hidden;
}
.pop-page-step-body::-webkit-scrollbar {
  width: 6px;
}
.pop-page-step-body::-webkit-scrollbar-track {
  background-color: transparent;
}
.pop-page-step-body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(150 205 247 / 65%);;
}
.pop-page-step-body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.pop-page-step-body{
  scrollbar-width: thin;
  scrollbar-color: rgb(150 205 247 / 65%); transparent;
}

.step-body-section{padding: 10px 14px;}

.pop-footer-navbar{
  z-index: 500;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  height: var(--pop-footer-height);
  overflow: hidden;
  position: absolute;
  background-color: white;
}
.pop-footer-navbar-inner{
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
  background-color:#c7c7c7;
  height: 100%;
}

.btn-pop-next {
  color: #fff;
  background-color: blue;
  border-color: #999999;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn-pop-next:hover {
  color: #fff;
  background-color: lightblue;
  border-color: #7a7a7a;
}

@media (min-width: 840px) {
  .step1 .step-body-section{
    display:flex;
  }
  .step1 .pop-content-wrap{
    flex-grow: 1;
    padding:5px 10px 30px;
    min-width:49.9%;
  }
  .step1 .pop-content-wrap:first-child{
    padding-right:15px;
    border-right: 1px solid rgb(33 150 243 / 16%);
  }
  .step1 .pop-content-wrap:last-child{
    padding-left:15px;
  }
  .step1 .pop-content-wrap:not(:last-child) {
    border-bottom: none;
  }
}
/* daum */
#daumlayer{
  display:none;position:fixed;overflow:hidden;z-index:11100;-webkit-overflow-scrolling:touch;
  border: 1px solid #999 !important;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
#daumbtnCloseLayer{
  cursor:pointer;position:absolute;right:3px;top:3px;z-index:1
}

/* top stepper */
.pop-navbar-stepper{
  display:flex;
  justify-content: center;
}
.top-steps-wrap{
  display:flex;
}
.top-steps-wrap div[class^='step-'] {
    color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.2);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    line-height: 32px;
    user-select: none;
    cursor: pointer;
}
.top-steps-wrap div[class^='step-']:after {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: -1%;
    left: 57%;
    height: 15%;
    width: 35%;
    color:white;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}
.top-steps-wrap div[class^='step-'].top-step-ing{
  border-color: #00bcd4;
  background-color: #00bcd4;
  color: white;
}
.top-steps-wrap div[class^='step-'].top-step-done {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    border-color: transparent;
    background: rgb(0 188 212 / 58%);
    -webkit-transform: rotate(310deg);
    -moz-transform: rotate(310deg);
    -o-transform: rotate(310deg);
    -ms-transform: rotate(310deg);
    transform: rotate(310deg);
    color: transparent;
    text-shadow: none;
    /* overflow: hidden; */
}
.top-steps-wrap div[class^='step-'].top-step-done:after {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.top-steps-wrap div[class^='line-']{
  width: 20px;
  position: relative;
  display: flex;
  margin:0 10px;
  line-height: 32px;
}
.top-steps-wrap div[class^='line-']:after {
    content: ' ';
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    margin-bottom: 15px;
    display: inline-block;
}
.top-step-done + div[class^='line-']:after{
  border-color: rgb(0 188 212 / 58%);
}
.pop-content-wrap{
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.pop-content-wrap:not(:last-child){
  border-bottom: 1px solid rgb(33 150 243 / 16%);
}
.pop-input-title{
  margin-bottom: 5px;
  margin-top: 5px;
}
.pop-input-title > i{
  margin-right: 8px;
}

.form-group-pop, .input-group.new-input-group {
  margin-bottom: 8px;
  position: relative;
}
.new-input-group .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
}
.new-input-group .form-control {background-image:none}

.input-group.new-input-group .input-group-prepend .input-group-text {
  background-color: var(--inout-bg-color);
  border: 1px solid var(--input-line-color);
  border-radius: 30px;
  color: #555;
  /*padding: 10px 0 10px 18px;*/
  border-right: 0 none;
  transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
  border-left: 1px solid var(--input-line-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: var(--input-font-size);
  padding-right: 10px;
}
.input-group.new-input-group .input-group-append .input-group-text {
    background-color: var(--inout-bg-color);
    border: 1px solid var(--input-line-color);
    border-radius: 30px;
    color: #555;
    border-left: 0 none;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    border-right: 1px solid var(--input-line-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: var(--input-font-size);
    padding-left: 10px;
}

.input-group.new-input-group .input-group-prepend .input-group-text span,
.input-group.new-input-group .input-group-append .input-group-text span
{
  margin-top: 4px;
  color:var(--input-title-color);
}

.form-control-pop {
  -webkit-appearance:auto; -moz-appearance:auto; appearance:auto;
  display: block;
  width: 100%;
  font-weight: 400;
  background-color: var(--inout-bg-color);
  border: 1px solid var(--input-line-color);
  border-radius: 30px;
  color: #2c2c2c;
  background-clip: padding-box;
  font-size: var(--input-font-size);
  transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
  box-shadow: none;
  line-height:normal;
  height: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
.form-group-pop .form-control-pop, .input-group .form-control-pop {
    padding: 8px 18px;
}
.form-group-pop.has-icon .form-control-pop{
  padding-right: 36px;
}

.input-group.new-input-group .form-control-pop{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 10px;
}
.input-group.new-input-group .form-control-pop:not(:last-child){
  border-right: 0 none;
  border-radius: 0;
  padding-right: 10px;
}
.input-group.new-input-group .form-control-pop.none-left{
    border-left: 0 none;
}
.pop-input-wrap{
  padding-left: 10px;
}
.flex-row {

}
.input-col-title{
  display: inline-flex;
  margin-top: 9px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}

/* 토글 */
.input-toggle-wrap{
display:flex;
}
.input-toggle-line{
  margin-top: 2px;
  color: var(--input-title-color);
}
.togglebutton.texttoggle label .toggle, .togglebutton.texttoggle label input[type=checkbox][disabled]+.toggle {
  content: "";
  display: inline-flex;
  width: 80px;
  height: 25px;
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 15px;
  margin-right: 15px;
  transition: background 0.3s ease;
  vertical-align: middle;
  position: relative;
  padding-top: 7px;
  padding-left: 10px;
  color: white;
  padding-right: 10px;
}
.togglebutton.texttoggle label .toggle:after {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgb(0 0 0 / 40%);
    left: -5px;
    top: -1.5px;
    border: 1px solid rgba(0, 0, 0, .54);
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    position: absolute;
}
.togglebutton.texttoggle label input[type=checkbox]:checked+.toggle:after {
    left: 54px;
}
.togglebutton.texttoggle label input[type=checkbox]:checked+.toggle {
  background-color: rgb(85 172 238 / 80%);
}
.togglebutton.texttoggle label input[type=checkbox]:checked+.toggle:after {
  border-color: #3b5998;
}
.togglebutton.texttoggle label input[type=checkbox]+.toggle{
  justify-content: flex-end;
}
.togglebutton.texttoggle label input[type=checkbox]:checked+.toggle{
  justify-content: flex-start;
}
.togglebutton.texttoggle label input[type=checkbox]+.toggle span.toggle-avail-label:before{
    content: attr(data-off);
}
.togglebutton.texttoggle label input[type=checkbox]:checked+.toggle span.toggle-avail-label:before{
    content: attr(data-on);
}

.step-onoff-wrap{
  display: flex;
  justify-content: flex-end;
  min-width: 34%;
  width: 250px;
}
